[
    {elvis, [
        {config, [
            #{
                dirs => ["src"],
                include_dirs => ["include"],
                filter => "*.erl",
                rules => [
                    %% TODO: refactor jwt:decode/3.erl to decrease
                    %% nesting level to default value 3
                    {elvis_style, nesting_level, #{level => 5}}
                ],
                ruleset => erl_files
            },
            #{
                dirs => ["."],
                filter => "Makefile",
                ruleset => makefiles
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config
            }
        ]}
    ]}
].
